<div class="flex full-height gap-1em padding-20px">
    <div class="width-250px">
        <mat-card class="full-height flex padding-20px spacebetween-center">
            <div class="flex column">
                <div>
                    <h2 class="no-top-margin text-center header">Late Report <br> App</h2>
                </div>
            </div>
            <div class="flex column">
                <p class="link no-top-margin text-center" [class.activeLink]="activeLink === i"
                    *ngFor="let menu of menuItems; let i = index" [routerLink]="menu.route" (click)="activeLink = i">
                    {{menu.name}}</p>
            </div>
            <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
        </mat-card>
    </div>
    <div class="flex flex-1 column gap-1em">
        <mat-card class="toolbar">
            <div class="flex spacebetween-center padding-20px full-height">
                <p><b>{{mainClass?.className}}</b></p>
                <small *ngIf="user.role === 'facilitator'"><b>Facilitator: </b>{{mainClass?.facilitator | titlecase}}</small>
                <small *ngIf="user.role === 'candidate'"><b>Candidate: </b>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</small>
            </div>
        </mat-card>
        <mat-card class="flex flex-1 padding-20px">
            <router-outlet></router-outlet>
        </mat-card>
    </div>
</div>