@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700;900&display=swap');

.header {
    font-family: 'Grenze Gotisch', serif;
}

.width-250px {
    width: 250px;
}

.padding-20px {
    padding: 20px;
    box-sizing: border-box;
}

.toolbar {
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}