<div class="flex center-center full-height">
    <div class="container">
        <div class="header flex center-center">
            <h2 class="no-margin">Welcome to Late-Report App</h2>
        </div>
        <div class="flex start-start gap-1em wrap displayer">
            <mat-card class="add-class flex center-center text-center pointer" matTooltip="Add a new class">
                <mat-icon color="accent">add_circle</mat-icon>
                <p>Add Class</p>
            </mat-card>
            <!-- <mat-card>Add Class</mat-card> -->
        </div>
    </div>
</div>