/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: ghostwhite;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
    font-weight: 500;
    text-decoration: none;
    &:hover {
        color: crimson;
        text-decoration: underline;
        cursor: pointer;
    }
}

// sizes
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.full-height {
    height: 100%;
}

// flex
.flex {
    display: flex;
}

.flex-1 {
    flex: 1
}

.column {
    flex-direction: column;
}

.start-center {
    align-items: center;
}

.end-center {
    justify-content: flex-end;
    align-items: center;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.spacebetween-center {
    justify-content: space-between;
    align-items: center;
}

// gaps 
.gap-05em {
    gap: .5em;
}

.gap-1em {
    gap: 1em;
}

// Fonts
.text-center {
    text-align: center;
}

// margins
.no-margin {
    margin: 0;
}
.no-top-margin {
    margin-top: 0;
}

// Auth card
.auth-card {
    min-width: 350px;
    padding: 20px;
}